* {
  box-sizing: border-box;
}

/* Example code: */

.parent {
  display: grid;
  grid-template-columns: 200px 200px;
  grid-template-rows: 100px 200px;
  grid-gap: 5px;
}

.child-items {
  padding: 10px;
  background-color: cadetblue;
  color: white;
}

.container {
  display: grid;
  /* This creates number of columns we need
  If we need two columns you just have to specify two values */
  grid-template-columns: repeat(5, 100px);
  grid-template-rows: repeat(5, 100px);
  grid-gap: 0.1em;
}

.items {
  background: #ccc;
  padding: 10px;
  border-radius: 5px;
}
